{% extends 'base.html.twig' %}

{% block title %}
  Hello EnfantController!
{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #f5f5f5;
      padding: 2px 6px;
    }
    
    .list-enfants {
      background: orange;
    }

    .alert-msg{
      background: red;
      color: black;
      font-size: 24;
    }
  </style>

  <div class="example-wrapper">
    <span>Responsable : {{ user.prenom }} {{ user.nom }}</span>

{% if message is defined %}
<div class="alert-msg">
{{message }}
</div>
{% endif %}
    <div class="">
      {{ form_start(form, {'attr': {'class': 'register-form py-5 w-100'}})}}
      {{ form_row(form.email, {'attr': {'class': 'input-material'}}) }}
      {{ form_row(form.Nom, {'attr': {'class': 'input-material'}}) }}
      {{ form_row(form.Prenom, {'attr': {'class': 'input-material'}}) }}
      {{ form_row(form.DateNaiss, {'attr': {'class': 'input-material'}}) }}
      {{ form_row(form.plainPassword, { label: 'Password', 'attr': {'class': 'input-material'}}) }}

      <button class="btn btn-danger" id="ajoute-enfant" type="submit">Ajouter</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
